:root{--bg:#ECAE3B}
.card{background:#121212;color:#fff}
body {
  background-color: #f5f5f5;
  color: #333;
}

.navbar {
  background-color: #ECAE3B !important;
}

.navbar a.nav-link,
.navbar .navbar-brand {
  color: #000 !important; 
}
.navbar a.nav-link:hover {
  color: #333 !important;
}
